{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Notes</h1>
<ul id="notes">
    {% for note in user.notes %}
    <li>
        {{ note.data }}
        <button type="button" onclick="deleteNote({{ note.id }})">
            ❌
        </button>
    </li>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" placeholder="Enter your note..."></textarea>
    <br>
    <div>
        <button type="submit">Add note</button>
    </div>
</form>
{% endblock %}